body {
    background-color: #ddd;
}
#main{
    position:relative;
    font-family: 'Roboto Condensed', sans-serif;
}

.legend_g>text{
    font-weight: 300;
}

.axis_label{
    font-weight: 300;
}

#bars_svg{
    position:relative;
}

#bar_legend {
    position:relative;
    top: 20px;
}

#lsvg{
    position:relative;
}

#more {
    position: relative;
    top: 40px;
}

#content{
    background:rgba(0,0,0,.25);
}

#svg_placer{
    top: 20px;
    position:relative;
    background-image:url('images/ChicagoBlackhawks.png');
    background-repeat:no-repeat;
    background-size: 85px;
    background-position: 380px 215px;
}

#sliders {
    position: relative;
    float: left;
    /* margin-left:10px; */
/* border:2px solid orange; */
}

#slider_svg{
    position: absolute;
    /* border:2px solid teal; */
    left:0;
    top:0;
}
#streak_holder{
    margin-top: 30px;
    width:470px;
    margin-left:10px;
    /* border:2px solid blue; */
}

#streak_length{
    float:left;
    font-size:30px;
    position:absolute;
    top:18px;
    margin-left:28px;
}

#streak_slider{
    margin-left:130px;
}
#season_holder{
    clear:both;
    width:470px;
    margin-top:40px;
    margin-left: 10px;
    /* border:2px solid pink; */
}
#seasons{
    float:left;
    font-size:30px;
    position:absolute;
    top:74px;
    margin-left:12px;
}

.domain {
    fill: none;
    stroke: black;
    stroke-width: 1px;
    /* opacity: 1; */
}
#season_slider{
    margin-left:130px;
}

#season_slider .ui-widget-header{
    background:#5c5c5c;
}

.ui-slider-handle{
    background-color:rgb(0,0,0)
}

#stats_box{
    float: left;
    margin-left: 40px;
    position: relative;
    /*top: -87px;*/
    /* border:2px solid black; */
}

.stats_lang {
    font-size: 19px;
    margin-left: 10px;
}

.percent, .action {
    float: left;
}
.percent {
    width: 100px;
    text-align: right;
    clear: both;
    font-size: 36px;
    line-height: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.action {
    padding-left: 10px;
    font-size: 24px;
    margin-top: 14px;
}

.colorbar_text {
    font-weight: 300;

    margin-top:20px;
    margin-left:100px;
}
