{% extends "base.html" %}

{% block title%}NHL Streak{% endblock title%}


{% block content %}
<link rel="stylesheet"
      type="text/css"
      media="screen"
      href="../media/main/nhl_corrs.css" />
<link href="http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700" 
      rel="stylesheet" 
      type="text/css"/>

<div id="main">
  <div id="svg_placer"></div>
  <p>test, mamajama</p>
</div>  
{% endblock content %}
  
  {% block dynamic_javascript %}
{{block.super}}
<script src="../media/main/jquery.js"></script>
<script src="../media/main/jquery-ui.js"></script>
<script src="../media/main/d3/d3.v3.min.js"></script>
<script src="../media/main/underscore.js"></script>
<script>
  {% include "main/nhl_corrs.js" %}
</script>
{% endblock dynamic_javascript %}
