{% extends "base.html" %}

{% block title%}NHL Streak{% endblock title%}


{% block content %}
<link rel="stylesheet"
      type="text/css"
      media="screen"
      href="../media/main/jquery-ui.css" />
<link rel="stylesheet"
      type="text/css"
      media="screen"
      href="../media/main/nhl_streak.css" />

<div id="main">
  <div id="svg_placer"></div>
</div>  
{% endblock content %}
  
  {% block dynamic_javascript %}
{{block.super}}
<script src="../media/main/jquery.js"></script>
<script src="../media/main/jquery-ui.js"></script>
<script src="../media/main/d3/d3.v3.min.js"></script>
<script src="../media/main/underscore.js"></script>
<script>
  {% include "main/test2.js" %}
</script>
{% endblock dynamic_javascript %}
