#main{
    position:relative;
}

#sliders {
    float: left;
}

#streak_holder{
    margin-top: 10px;
    width:480px;
}

#streak_length{
    float:left;
}

#streak_slider{
    float:right;
    width:360px;
}

#season_holder{
    clear:both;
    width:480px;
    margin-top:10px;

}
#seasons{   
    float:left;
}

#year_slider{
    float:right;
    width:360px;
}

#stats_box{
    float: left;
    margin-left: 30px;
    position: relative;
    top: -80px;
    border:2px solid black;
    width:200px;
}


